@charset "utf-8";

// Moon_20210620_C.mp4 - 미디어 시작 

@media all and (max-width:1273px) {
    .pageFooter {
        padding: 18px 20px 400px 250px;
        .footerHead {
            
        }
        .contact {
            display:block;
            .serial {
                display:block;
            }
        }
    }
}