@charset "utf-8";
// 반응형 

//  Responsible css
@media all and (max-width:1273px) {
    .inner {
        height:200px;
        
    }
}
.main {
    .main-pick {
        .inner {
            .content {
                height:200px;
            }
            .thum {
                width:150px;
                img {
                    width:62%;
                }
            }
        }
    }
}
@media all and (max-width:992px) {
    .main {
        .main-pick {
            
            padding:0;
            .inner {
                width:100%;    
                position:relative;
                .thum {
                    float:none;
                    width:auto;
                    margin-right:0;
                    img {
                        width:100%;
                    }
                }
    
                .content {
                    float:none;
                    position:absolute;
                    left:30px;
                    bottom:30px;
                    height:auto;
                    h3 {
                        color:#fff;
                        font-size:40px;
                        font-weight:600;
                        line-height:1;
                    }
                    p, .info {
                        display:none;
                    }
                }
            }
        }

        .baseWidth {
            width:auto;
            margin-left:15px;
            margin-right:15px;
        }

        .main-magazine {
            .list {
                li {
                    width:calc(50% - 10px);
                    .thum {

                    }
                }
            }
        }
    }
}

// mobile
@media all and (max-width:767px) {
    .pageHeader {
         width:100%;
         background-color:transparent;
         top:67px;

         .scrollArea {
            //  display:none;
         }

         .btnInstall {
             display:none;
         }
         .logo {
             .btnSearch {
                 right:50px;
             }

             .btnHam {
                 display:block;
             }
         }


         .scrollArea {
            top:-67px;
            max-height:none;
            display:none;
           
         }

    }

    .main {
        padding-left:0;
    }

    .pageFooter {
        padding-left:0;
    }
}

@media all and (max-width:1273px) {
    .pageFooter { //bottom:0 을 써도 이상하게 되서 배경이 아래까지 연장이 X
        
        .fnb {
            position:static;
            padding-top:20px;
            border-top:1px solid #e1e1e1;
            ul {
                justify-content:center;
                
                flex-wrap:wrap;
                margin:0 260px 0 240px;
               

                li {
                    width:19%;
                    margin-left:0;
                    box-sizing:border-box;
                    text-align:center;
                    margin-bottom:10px;
                    
                    &:nth-child(even) {
                        
                    }
                    &:nth-child(4) {
                        width:10%;
                    }
                    &:nth-child(6) {
                        width:12%;
                        &:before {
                            right:60px;
                            background:red;
                        }
                    }
                }
            } 
        }

        .sns {
            position:static;
            justify-content:center;
            margin:20px 0;
            li {
                
                // a {
                //     // @include circle2(25px,blue);
                //     @include circle3($t:yellow) { // 기본값도 안넣고 싶으면 null 쓰면됨
                //         border:1px solid red;// 믹신 (인클로드) 안에 속성 추가하기
                //     }
                // }
            }

        }
        .info {
            address {
                ul {
                    display:block;
                    li {
                       margin-top:6px;
                    }
                }
                
            }
            dl { // html 구조 안바꾸고 아래로 올바르게 내리는 방법?
                
                dt {
                    display:block; 
                    
                }
               
            }
        }
    }
}