@charset "utf-8";
$url : '../images/';
$pink : #ff0050;
@import 'reset', 'mixin';


.logo a, 
.btnSearch,
.rightArrow,
.btnNext
    span,
    .billText { 
    &:after {
        background:url($url + "sp_vibe.62b23c4a.png") no-repeat;
    }
}
.gnb .navIcon,
.gnb .menu2 .bg {
    background:url($url + 'sp_vibe.62b23c4a.png') no-repeat;
}

body {
    font-size: 15px;
    line-height: 1.25;
    font-family: -apple-system, BlinkMacSystemFont, AppleSDGothicNeo, Helvetica, "Malgun Gothic", sans-serif;
    color: #232323;
    background-color: #fff;
}

@import 'header';



.playBar {
    position:fixed;
    display:block;
    left:0;
    bottom:0;
    height:83px;
    width:100%;
    background-color:rgba(25,25,25,.97);
    z-index:101;
}

// bottom bar end 

.main {
    padding-left:225px;
    .bannerTop {
        background:rgb(255, 224, 243);
        height:66px;
        text-align:center;
        position:relative;
        img {
               height:100%;
            }
        .close {
            height:66px;
            width:66px;
            position:absolute;
            top:0;
            right:0;
            box-sizing:border-box;
            padding-top:23px;

            .box {
                display:block;
                height:18px;
                width:18px;
                margin:0 auto;
                background-color:gray;
                box-sizing:border-box;
                padding-top:1px;
                
                span {
                    display:block;
                    width:18px;
                    height:1px;
                    background-color:#fff;
                    
                    
                    &:first-child {
                        transform:rotate(45deg);
                        transform-origin:left top;
                        margin-left:3px;
                        
                        
                        
                    }
                    &:last-child {
                        transform:rotate(-45deg);
                        transform-origin:left bottom;
                        margin-top:12px;
                        margin-left:3px;
                        
                    }
                }

            }
        }
        
    }
    .main-pick { 
        background-color:#f3f3f3;
        padding:40px 0;
        .inner {
             background-color:#fff;
          
            
            .content {
                padding:0 150px 0 0;// 플렉스로 세로 정렬
                display:flex;
                height:322px;
                flex-direction:column;
                justify-content:center;
                align-items:flex-start;
                strong {
                    background:purple;
                    padding:3px 15px 3px 15px;
                    @include radius(20px);
                    font-weight:600;
                    display:inline-block;
                    color:#fff;
                    
                }
                h3 {
                    margin-top:10px;
                    font-size:24px;
                    font-weight:600;
                    
                    
                }
                p {
                    margin-top:10px;
                    color:#999;
                    font-size:12px;
                    display:-webkit-box;
                    -webkit-line-clamp:2;
                    -webkit-box-orient:vertical;
                    overflow:hidden;
                    
                }
                .info {
                    color:#999;
                    font-weight:300;
                    margin-top:20px;
                    font-size:13px;
                }
            }
            .thum {
                width:322px;
                float:left;
                margin-right:50px;
                img {
                    width:100%;
                }
    
            }
        }
        
    }
    .main-magazine {
        background:#fff;
        margin:30px 0 0;
        padding:10px 0;
        
        h2 {
            font-weight:700;
            font-size:17px;
            &:hover {
                text-decoration:underline;
            }
        }
        .content {
            margin-top:10px;
            .thum {
              
                
                img {
                    width:100%;
                }
            }
        }
        .list {
            display:flex;
            overflow-x:auto;
            
            // justify-content:space-between;  
            position:relative;
            border: 1px solid #f1f1f1;
            border-width:0 0 2px 0;
            padding:3px 0 90px 0;
            
            
            li {
                width:302px;
                height:330px;
                flex-shrink:0;
                margin-left:10px;
                &:first-child {
                    margin-left:0;
                }
                .content {
                    position:relative; //이미지에 포지션이 있어야 위치함 가로로는 100%해야 채워짐
                    &:hover .option {
                        display:block;
                    }
                    
                }
                
                
                .option {
                    position:absolute;
                    display:none;
                    left:0;
                    bottom:0;
                    width:100%;
                    height:80px;
                    background-image:linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.5));
                   
                    
                }
                h3 {
                    font-size:16px;
                    color:#232323;
                    margin-top:5px;
                    line-height:23px;
                    margin-bottom:3px;
                    
                }
                time {
                    color:#999;
                    font-size:13px;

                }
                
            }
            
            
        }
        
        
    }
    .main-news {
        background:#fff;
        margin:10px 0 0;
        padding:10px 0;
        
        
        h2 {
            font-weight:700;
            font-size:17px;
            &:hover {
                text-decoration:underline;
            }
        }
      
        .list {
            display:flex;
            // justify-content:space-between;  
            overflow-x:auto;
            position:relative;
            border: 1px solid #f1f1f1;
            border-width:0 0 2px 0;
            padding:3px 0 0;
            margin-bottom:150px; 
            
            li {
                width:302px;
                height:330px;
                margin-left:10px;
                flex-shrink:0;
                &:first-child {
                    margin-left:0;
                }    
                .content {
                    position:relative; //이미지에 포지션이 있어야 위치함 가로로는 100%해야 채워짐
                    margin-top:10px; 
                    
                    &:hover .option {
                        display:block;
                    }

                    .thum {
                        display:block;
                        height:180px;
                        overflow:hidden;
                        background:black;
                        img {
                            width:100%; 
                        }
                       
                    }
                }
                
                
                .option {
                    position:absolute;
                    display:none;
                    left:0;
                    bottom:0;
                    width:100%;
                    height:80px;
                    background-image:linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.5));
                   
                    
                }
                h3 {
                    font-size:16px;
                    color:#232323;
                    margin-top:5px;
                    line-height:23px;
                    margin-bottom:3px;
                    
                }
                time {
                    color:#999;
                    font-size:13px;

                }
                
                
            }
            
            
        }
        
        
    }
}

.baseWidth, .main-pick .inner {
    max-width:962px;
    margin-left:auto;
    margin-right:auto;
    width:100%;
    box-sizing:border-box;
}


// home end 
.subContent {
    width:975px;
    margin-left:275px;
    margin-top:60px;
    h2 {
        font-size:30px;
        font-weight:800;
        
    }
    h3 {
        margin-top:50px;
        display:block; // 블락을 줘야 마진이 먹음
        background:pink;

        strong {
            font-size:17px;
            font-weight:600;
            
        }
        .billText {
            
            padding:1px 4px 1px 4px;
            display:inline-block;
            
            
            &:after {
                content:'';
                display:block;
                height:18px;
                width:80px;
                background-position:-961px -806px;
            }
        }
        span {
            
            padding:1px 1px 2px 4px;
            display:inline-block;
            &:after {
                content:'';
                display:block;
                background-position:-1033px -556px;
                width:7px;
                height:10px;
                
            }
        } 
    }
}
.rank {
    li.item {
        @include flex($a:center);
        .playMusic {
            display:block;
            background-color:red;
            width:40px;
            height:40px;
            position:relative;
            &:before {
                content:'';
                display:block;
                width:100%;
                height:100%;
                opacity:0;
                transition:all 0.4s;
                background-color:rgba(0,0,0,0.5);
            }
            &:after {
                content:'';
                position:absolute;
                left:16px;
                bottom:10px;
                height:0;
                width:0;
                display:block;
                border:10px solid transparent;
                border-left-color:white;
                opacity:0;
                transition:all 0.4s;
            }
            &:hover {
                &:before, &:after {
                    opacity:1;
                }
            }
            
        }
        .ranking {
            margin:0 20px;
            position:relative;
            .num {
                width:8px;
                display:block;
                outline:1px solid red;
            }
            .arrow {
                
                display:block;
                
                
            
                &:after {
                    content:'';
                    display:block;
                    height:0;
                    width:0;
                    border:5px solid transparent;
                }
                &.up:after {
                    position:absolute;
                    top:19px;
                    left:-1px;
                    border-bottom-color:red;
                }
                &.down:after {
                    position:absolute;
                    top:23px;
                    left:0;
                    border-top-color:blue;
                }
            }
        } 
        .songArea {
            display:flex;
            flex-direction:column;
            height:40px;
            justify-content:space-between;
            .singer {
                font-size:12px;
                color:rgba(0,0,0,0.4);
            }
        }   

    }

    .scroll {
        
        
        
        .listUpper {
            @include flex($a:center);
            
            
            
            .topList01,
            .topList02,
            .topList03 {
                margin-top:20px;
                margin-left:20px;
                
                width:calc(50% - 10px);
                li {
                    margin-top:10px;
                    border:1px solid rgba(0,0,0,0.1);
                    border-width:0 0 1px 0;
                    padding-bottom:8px;
                    
                    &:first-child {
                        margin-top:0;
                    }
                    .album {
                        @include flex($a:center);
                        .name {
                            display:flex;
                            flex-direction:column;
                            margin-left:20px;
                        }
                        b {
                            margin-left:10px;
                        }
                        i {
                            font-size:13px;
                            
                            color:rgba(0,0,0,0.5);
                        }
                        
                        .albumImg {
                            display:block;
                            width:40px;
                            height:40px;
                            background-color:red;
                            margin-right:10px;
                        }
                    }
                }
            } 
            .topList01 {
                margin-left:0;
            }
        } 
    }
    .line { 
        border:1px solid rgba(0,0,0,0.2);
        border-width:0 0 1px 0;
        display:block;
        margin-top:50px;
        margin-bottom:30px;
        
    }
    .domeRank {
        strong {
            font-size:18px;
            font-weight:600;
        }
        .rightArrow {
            display:inline-block;
            padding:0 0 2px 3px;
            &:after {
                content:'';
                width:10px;
                height:10px;
                display:block;
                background-position:-1033px -556px;
            }
        }
    }
    .scroll {
        overflow-x:auto;
        width:calc(100% - 20px);
        position:relative;
        
        .btnNext {
            
            span {
                
                background:white;
                position:fixed;
                top:307px;
                right:7px;
                box-shadow:0px 0px 5px rgba(72,72,72,0.3);
                
                
                @include flex($a:center);// 애프터는 안먹히나?
                @include circle(40px);
                &:after {
                    content:'';
                    background-position:-1033px -556px;
                    display:block;
                    width:8px;
                    height:12px;
                    
                    margin:0 auto;
                    
                    
                }
            }
        }
        .listBottom {
            @include flex($a:center);
            width:1400px;
            
            
            .topList01,
            .topList02,
            .topList03 {
                margin-top:20px;
                margin-left:20px;
                
                width:400px;
                li {
                    margin-top:10px;
                    border:1px solid rgba(0,0,0,0.1);
                    border-width:0 0 1px 0;
                    padding-bottom:8px;
                    
                    &:first-child {
                        margin-top:0;
                    }
                    .album {
                        @include flex($a:center);
                        .name {
                            display:flex;
                            flex-direction:column;
                            margin-left:20px;
                        }
                        b {
                            margin-left:10px;
                        }
                        i {
                            font-size:13px;
                            
                            color:rgba(0,0,0,0.5);
                        }
                        
                        .albumImg {
                            display:block;
                            width:40px;
                            height:40px;
                            background-color:red;
                            margin-right:10px;
                        }
                    }
                }
            } 
            .topList01 {
                margin-left:0;
            }
        } 
    }
    .genre {
        font-size:18px;
        font-weight:600;
    }
    .goGenre {
        display:flex;
        justify-content:space-between;
        height:270px;
        width:975px;
        margin-top:30px;
        ul:nth-child(5) {
            
            &:after {
                content:'';
                display:block;
                height:60px;
                width:100%;
                background:red;
            }
        }
        .genList {
            display:flex;
            flex-direction:column;
            justify-content:space-between;
            width:180px;
            height:240px;
            
            // display:block;
            li {
                background-color:#ececec;
                width:180px;
                height:60px;
                position:relative;
                box-sizing:border-box;
                padding-left:25px;
                @include flex($a:center);
                @include radius(5px);
                &:after {
                    content:'';
                    position:absolute;
                    left:10px;
                    top:10px;
                    display:block;
                    height:40px;
                    width:4px;
                    background:red;
                    @include radius(3px);
                }
            
            }
            
            
        }      
    }
    .diskInfo {
        font-size:12px;
        color:#999;
    }
    .top50 {
        width:975px;
        height:280px;
        display:flex;
        
        .diskList {
            height:250px;
            display:flex;
            flex-direction:column;
            margin-left:15px;
            margin-top:30px;
            
            &:first-child {
                margin-left:0;
            }
            li {
                
                .disk {
                    display:block;
                    height:183px;
                    width:183px;
                    background:red;
                    @include radius(50%);
                    
                }
                &:nth-child(2) {
                    margin:0 auto;
                }
                &:last-child {
                    margin:0 auto;
                    margin-top:30px;
                }
            }
        }
    }
    
    .billboard {
        background:blue;
        margin-top:50px;
    }
    
}


// 상태표시

.new {
    position:relative;
    &:after {
        content:'';
        @include circle(8px);
        display:none;
        background-color:red;
        position:absolute;
        right:-12px;
        top:calc(50% - 4px);
    } 
    &.on:after {
        display:block; 
    }

}

@import 'footer','media';

.scrollDesign { 
      &::-webkit-scrollbar {
        width: 8px;
        border-radius:10px;
      }
      &::-webkit-scrollbar-thumb {
        border-radius:10px;
        background-color: rgba(255,255,255,0.2);
      }
      &::-webkit-scrollbar-track {
          
        border-radius:10px;
        background-color: rgba(255,255,255,0.17);
      }
}
.scrollDesign2 { 
      &::-webkit-scrollbar {
        width:8px;
        height:8px;
        border-radius:5px;
      }
      &::-webkit-scrollbar-thumb {
        border-radius:5px;
        background-color: rgba(0,0,0,0.2);
      }
      &::-webkit-scrollbar-track {
        
        border-radius:5px;
        background-color: rgba(0,0,0,0.17);
      }
}
 